.article {
    padding: 20px 15px 0 15px;
}

.title {
    color: var(--secondary-color);
    font-size: 26px;
    font-weight: 700;
}

.date {
    color: #8080AE;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 6px;
}

.tags-container {
    display: flex;
    margin-bottom: 9px;
}



.article-desc {
    color: #8080AE;
    border-bottom: dotted #707070;
    margin-bottom: 7px;
    padding-bottom: 10px;
}

.article-body {
    color: #13131D;
}

