.article-card {
    padding: 24px 24px 0px 24px;
    height: 15rem;
    overflow: hidden;
    border-bottom: 1px dotted rgb(34, 34, 51);
}

.card-title {
    color: var(--secondary-color);
    font-size: 26px;
    font-weight: 700;
}

.card-date {
    color: #8080AE;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 6px;
}

.card-body {
    color: #8080AE;
}

.tags-container {
    display: flex;
    margin-bottom: 9px;
}

.tag-wrapper {
    width: min-content;
    padding: 0px 0.80em;
    color: #ffffff;
    border-radius: 12px;
    border: solid #707070 1px;
    margin-right: 11px;
}

.tag {
    font-size: 16px;
    font-weight: 400;
}

.card-divider {
    width: 55%;
    border-color: #707070;
    margin-bottom: 11px;
}

@media only screen and (min-width: 768px) {
    .article-card {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 3rem 1rem 3rem;
        height: max-content;
    }
  }