.nav-bar {
    height: 57px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 23px;
}

.blog-title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 13px;
}

.menu-button {
    background: transparent;
    border: none;
    width: 40px;
    padding-top: 4px;
}